# 🔹 Core Backend
fastapi
uvicorn
python-multipart

# 🔹 ML & Data
numpy
pandas
scikit-learn
scipy
joblib
 
# 🔹 Computer Vision
opencv-python-headless
opencv-contrib-python-headless
mediapipe

# 🔹 Visualization & Utils
pillow

# 🔹 Dependencies
absl-py
cffi
flatbuffers
six
sounddevice
threadpoolctl
tzdata
